div#content {
    padding: 50px;
    background-color: skyblue;
    height: 100vh;
    margin: 10px 10px 0px 10px;
    box-shadow: 3px 3px 5px grey;
    border: none;
}
h1#header:hover{
  font-size: 250%;
}
h1, h2, h3 {
    font-family: "Courier New", monospace;
    text-shadow: 0 0 10px black;
    color: white;
}
div#image img{
      width: 200px;
      float: right;
      height: 300px;
      transition: all 0.5s;
      border: solid 7px royalblue;
      filter: blur(5px);
      object-fit: cover;
  }
div#image  img:hover{
    width: 370px;
    height: 370px;
    filter: none;
    transform: rotate(720deg);
  }
p{
  letter-spacing: 2px;
  word-spacing: 5px;
  line-height: 20px;
}
body {
    font-family: Helvetica, Verdana, Arial, "san serif";
    background-image: linear-gradient(#ffbb2fed, #d6fd00);
    padding: 25px;
    font-size: 120%;
}
a {
    color: purple;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
div#Challenge{
    border-radius: 25px;
    border: solid 8px #3da0ff;
    margin: 2px 2px 5px 2px;
}
div#Problems{
  border-radius: 25px;
  border: solid 8px #3da0ff;
  margin: 2px 2px 5px 2px;
}
div#Result{
  border-radius: 25px;
  border: solid 8px #3da0ff;
  margin: 2px 2px 5px 2px;
}
