div#content {
    padding: 50px;
    background-image: url("paper.png");
    height: 80vh;
    margin: 10px 10px 0px 10px;
}
h1#header:hover{
  font-size: 250%;
}
h1, h2, h3 {
    font-family: "Courier New", monospace;
}
img{
      clear: right;
      position: relative;
      width: 300px;
      float: right;
      height: auto;
      transition: width 1s, border 1.5s;
      border: solid 10px royalblue;
      bottom: -60px;
  }
  img:hover{
    width: 400px;
    border: solid 10px #12b912;
  }
p{
  letter-spacing: 2px;
  word-spacing: 5px;
  line-height: 20px;
}
  body {
      font-family: Helvetica, Verdana, Arial, "san serif";
      background-image: url("leather.png");
      background-color: none;
      padding: 25px;
      font-size: 120%;
  }
  a {
      color: purple;
      text-decoration: none;
  }
  a:hover {
      text-decoration: underline;
      text-decoration-style: wavy;
  }
  div#description{
    column-count: 3;
  }
