div#content {
    padding: 50px;
    background-color: skyblue;
    border: solid 5px darkorange;
    height: 80vh;
    margin: 10px 10px 0px 10px;
}
h1#header:hover{
  font-size: 250%;
}
h1, h2, h3 {
    font-family: "Courier New", monospace;
}
img{
      width: 350px;
      float: right;
      height: auto;
      transition: all 0.5s;
      border: solid 10px royalblue;
  }
  img:hover{
    width: 25%;
  }
p{
  letter-spacing: 2px;
  word-spacing: 5px;
  line-height: 20px;
  overflow: auto;
}
  body {
      font-family: Helvetica, Verdana, Arial, "san serif";
      background-color: #ffbb2fed;
      padding: 25px;
      font-size: 120%;
  }
  a {
      color: purple;
      text-decoration: none;
  }
  a:hover {
      text-decoration: underline;
      text-decoration-style: wavy;
  }
.col-sm-3{
  border: solid 4px;
  margin-right: 10px;
}
